{% load static %}
<!-- Machine 1 -->
<div class=" flex justify-evenly ">
    <h1 class="text-4xl py-11">
        Machine 1
    </h1>
    <div class="bg-yellow-300 rounded-lg shadow-2xl  h-40 w-10/12 text-white" id='makina1'>
        <div class="flex justify-between text-lg pt-2 px-3 ">
            <h1 id='mc1Status'>Status</h1>
            <div class=" flex justify-end text-lg ">
                <p>ELAPSE TIME: &nbsp;</p>
                <p id="mc1Timer">00:00</p>
            </div>
        </div>
        <div class=" h-32 border-black ">
            {% include 'facemask/downtimereport/machinereport.html' %}
        </div>
    </div>
</div>
<!-- Machine 2 -->
<div class=" flex justify-evenly ">
    <h1 class="text-4xl py-11">
        Machine 2
    </h1>
    <div class="bg-yellow-300 rounded-lg shadow-2xl  h-40 w-10/12 text-white" id='makina2'>
        <div class="flex justify-between text-lg pt-2 px-3 ">
            <h1 id='mc2Status'>Status</h1>
            <div class=" flex justify-end text-lg ">
                <p>ELAPSE TIME: &nbsp;</p>
                <p id="mc2Timer">00:00</p>
            </div>
        </div>
        <div class=" h-32 border-black  " id="mc2form">
            {% include 'facemask/downtimereport/machinereport2.html' %}
        </div>
        <script type="text/javascript">
            // $(document).ready(function(){
            //     $('#mc2form').hide();
            // }
        </script>
    </div>
</div>
<!-- Machine 3 -->
<div class=" flex justify-evenly ">
    <h1 class="text-4xl py-11">
        Machine 3
    </h1>
    <div class="bg-yellow-300 rounded-lg shadow-2xl  h-40 w-10/12 text-white" id='makina3'>
        <div class="flex justify-between text-lg pt-2 px-3 ">
            <h1 id='mc3Status'>Status</h1>
            <div class=" flex justify-end text-lg ">
                <p>ELAPSE TIME: &nbsp;</p>
                <p id="mc3Timer">00:00</p>
            </div>
        </div>
        <div class=" h-32 border-black  " id="mc3form">
            {% include 'facemask/downtimereport/machinereport3.html' %}
        </div>
    </div>
</div>
<script src="{% static 'js/facemaskAjax.js' %}">
</script>