{% load static %}
<div class=>
    <h1 class="p-4 text-3xl">Rack Load:</h2>
        <div class="mx-5  my-auto space-y-5">
            <h1>Rack A1:</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 25%"> 25%</div>
            </div>
            <h1>Rack B1:</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 65%"> 65%</div>
            </div>
            <h1>COMPUTER NUMAERIC CONTROL MACHINE</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 95%"> 95%</div>
            </div>
            <h1>CONVENTIONAL MILLING</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 45%"> 45%</div>
            </div>
            <h1>WIRE CUT MACHINE</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 15%">15%</div>
            </div>
            <h1>CNC LATHE MACHINE</h1>
            <div class="w-full bg-gray-200 rounded-full">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: 42%">42%</div>
            </div>
        </div>
</div>