{% load static %}
{% load svg %}
<aside >
  <!-- logo -->
    <a href="/" class="inline-flex items-center justify-center    p-2 border-r-2 border-black bg-white">
     <img src={% static 'svg/images.png' %} alt="Avatar" class="image">
    </a>
  <!-- /logo -->

    <div class="flex-grow flex flex-col justify-between text-gray-500 bg-gray-800 h-screen">
      <nav class="flex flex-col  space-y-4 pt-4">


<!-- facemask        -->
        <a href="/facemask" 
        class="
            inline-flex 
            items-center 
            justify-center 
            hover:text-gray-400 
            hover:bg-gray-700 
            focus:text-gray-400 
            focus:bg-gray-700 
            rounded-lg" 

            id='fmbg0' >
          <span class="sr-only">Facemask</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-max w-max" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125z" />
          </svg>



<!-- machineshop        -->
        <a href="/machineshop" 
        class="
            inline-flex 
            items-center 
            justify-center 
            hover:text-gray-400 
            hover:bg-gray-700 
            focus:text-gray-400 
            focus:bg-gray-700 
            rounded-lg" 

            id='msbg0' >
          <span class="sr-only">machineshop</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-max w-max" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
          </svg>

        </a>

<!-- warehouse        -->
        <a href="/warehouse" 
        class="
            inline-flex 
            items-center 
            justify-center 
            hover:text-gray-400 
            hover:bg-gray-700 
            focus:text-gray-400 
            focus:bg-gray-700 
            rounded-lg" 

        id='wsbg0' >
          <span class="sr-only">Warehouse</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-max w-max" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
        </a>

<!-- end         -->

      </nav>
      <!-- profile -->
      <div class="flex flex-col  space-y-4 pb-16 ">
        <a href="/login" 
          class="
              inline-flex 
              items-center 
              justify-center 
              hover:text-gray-400 
              hover:bg-gray-700 
              focus:text-gray-400 
              focus:bg-gray-700 
              rounded-lg" 
          id='wsbg0' >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-max w-max" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </a>

      </div>  
      <!-- /profile -->
    </div>
  </aside>