{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Facemansk{% block title %}{% endblock %}</title>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <!-- <link rel="manifest" href="/manifest.json"/> -->
    <link href="/static/css/main.6101d86e.chunk.css" rel="stylesheet">
    <link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




</head>

<body>
  <div class='flex bg-gray-200 min-h-screen'>
  <!-- Side navigation -->
    <div>
      {% include 'nav/nav.html' %}
    </div>

  
  <!-- Tittle -->
    <div class="flex-grow text-gray-800">
      <h1 class="px-2 text-4xl 2xl:font-thin py-3">Facemask Machine</h1>
  <!-- Page content --> 
      <div class="px-10 py-4 border-4  flex-col space-y-4">

  <!-- Machine 1 --> 
        <div class=" flex justify-evenly">
          <h1 class="text-4xl py-11">
            Machine 1
          </h1>

          <div class="bg-yellow-300 py-1 px-3 rounded-lg shadow-2xl space-x-3 h-40 w-10/12 text-4xl" id='makina1'>
              <div class="flex justify-between" id='mc1Status'>
                <h1>Status</h1> 
                <div class=" flex justify-end">
                  <p>PV &nbsp;</p>
                  <p id="mc1Timer">00:00</p>

                </div>
              </div>
          </div>

        </div>

 <!-- Machine 2 --> 
        <div class=" flex justify-evenly">
          <h1 class="text-4xl py-11">
            Machine 2
          </h1>

          <div class="bg-yellow-300 py-1 px-3 rounded-lg shadow-2xl space-x-3 h-40 w-10/12 text-4xl" id='makina2'>
              Status
          </div>

        </div>
                <div class=" flex justify-evenly">
          <h1 class="text-4xl py-11">
            Machine 3
          </h1>

          <div class="bg-yellow-300 py-1 px-3 rounded-lg shadow-2xl space-x-3 h-40 w-10/12 text-4xl" id='makina3'>
              Status
          </div>

        </div>

        <div class="border-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
                <div class="border-4 ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
          {% block content %}
          {% endblock %}
      </div>
    </div>
  </div>
 
  <!-- <script src="{% static 'js/ajaxko.js' %}"></script> -->
  <script type="text/javascript">
$(document).ready(function(){
  setInterval(function(){
    $.ajax({
      url: 'api/',
      type: 'get',
      data: {
        'apikey':'papa pogi'
      }, 
      success: function(response) {
        // {
        //     "model": "api.machine",
        //     "pk": 1,
        //     "fields": {
        //         "date": "2021-12-07T17:07:06.157Z",
        //         "machine_no": 1,
        //         "machine_status": false
        //     }
        // }


        // console.log(response[0]);
        let machine_status1 = response[0].fields.machine_status;
        let machine_status2 = response[1].fields.machine_status;
        let machine_status3 = response[2].fields.machine_status;
        let machine1_date = response[0].fields.date;
        let machine2_date = response[1].fields.date;
        let machine3_date = response[2].fields.date;
        console.log(machine1_date);
        console.log(typeof(machine1_date));
        console.log(Date.now());
        console.log(typeof(Date()));
        // console.log('ok na ata',response.machine_status);
        

        if(machine_status1 == true)
          {
          $('#makina1').css("background-color", "green");
          // $('#makina1').html("Status: Machine Running");
          } 
        else
          {
          $('#makina1').css("background-color", "red");
          // $('#makina1').html("Status: Machine Brakedown");
          };

        if(machine_status2 == true)
          {
          $('#makina2').css("background-color", "green");
          $('#makina2').text("Status: Machine Running");
          } 
        else
          {
          $('#makina2').css("background-color", "red");
          // $('#makina2').html("Status: Machine Brakedown");
          };

        if(machine_status3 == true)
          {
          $('#makina3').css("background-color", "green");
          // $('#makina3').html("Status: Machine Running");
          } 
        else
          {
          $('#makina3').css("background-color", "red");
          // $('#makina3').html("Status: Machine Brakedown");
          };





      },
      error: function(XMLHttpRequest, textStatus, errorThrown) { 
      alert("Status: " + textStatus); alert("Error: " + errorThrown); 
      }       

      })
    },5000)




});


$(document).ready(function(){
  setInterval(function(){

  },1000)


})

  </script>
</body>
</html>